#Set operations

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("Set") \
    .getOrCreate()

In [ ]:
data_a = [
    ("U1","Python"),
    ("U2","Java"),
    ("U3","Spark")
]
df_a = spark.createDataFrame (data_a , ["user_id","course"])

In [ ]:
data_b= [
    ("U2","Java"),
    ("U3","Spark"),
    ("U4","Python")
]
df_b = spark.createDataFrame(data_b,["user_id","course"])

In [ ]:
df_a.union(df_b).show()

+-------+------+
|user_id|course|
+-------+------+
|     U1|Python|
|     U2|  Java|
|     U3| Spark|
|     U2|  Java|
|     U3| Spark|
|     U4|Python|
+-------+------+

In [ ]:
df_a.intersect(df_b).show()

+-------+------+
|user_id|course|
+-------+------+
|     U3| Spark|
|     U2|  Java|
+-------+------+