In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder\
.appName("AvroStable")\
.config("spark.jars.packages",
        "org.apache.spark:spark-avro_2.12:3.5.1")\
.getOrCreate()

In [2]:
spark.version

'3.5.1'

In [3]:
df=spark.createDataFrame([(1, "Alice", 25), (2, "Bob", 25)
], ["id", "name", "age"])

In [4]:
df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 25|
|  2|  Bob| 25|
+---+-----+---+

In [5]:
df.write.format("avro").mode("overwrite").save("/content/avro_out")