In [51]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession

spark=SparkSession.builder\
      .appName("Read CSV Example")\
      .getOrCreate()

spark.version

'4.0.1'

#Read and write from CSV

In [52]:
data = [
 ("T001","Amit","Hyderabad","Ramesh","Sedan",12.5,320,28,"UPI","Completed"),
 ("T002","Neha","Bangalore","Suresh","Mini",8.2,210,22,"Card","Completed"),
 ("T003","Rahul","Delhi","Anil","Bike",5.1,120,15,"Cash","Completed"),
 ("T004","Pooja","Mumbai","Vikas","SUV",18.0,560,45,"UPI","Cancelled"),
 ("T005","Arjun","Chennai","Kumar","Mini",7.8,200,20,"UPI","Completed"),
 ("T006","Sneha","Hyderabad","Ramesh","Sedan",14.2,360,32,"Card","Completed"),
 ("T007","Karan","Delhi","Anil","Bike",6.3,140,18,"UPI","Completed"),
 ("T008","Riya","Bangalore","Suresh","Sedan",11.0,300,27,"Wallet","Completed"),
 ("T009","Vikas","Mumbai","Vijay","SUV",20.5,650,50,"Card","Completed"),
 ("T010","Anjali","Chennai","Kumar","Bike",4.9,110,14,"Cash","Completed"),
 ("T011","Farhan","Delhi","Anil","Mini",9.6,240,25,"UPI","Completed"),
 ("T012","Megha","Hyderabad","Ramesh","SUV",19.2,610,48,"Card","Cancelled"),
 ("T013","Suresh","Bangalore","Suresh","Sedan",13.0,340,30,"UPI","Completed"),
 ("T014","Divya","Mumbai","Vikas","Mini",10.2,260,26,"Wallet","Completed"),
 ("T015","Nikhil","Delhi","Anil","Sedan",15.5,390,34,"UPI","Completed"),
 ("T016","Kavya","Chennai","Kumar","Sedan",12.1,315,29,"UPI","Completed"),
 ("T017","Rohit","Hyderabad","Ramesh","SUV",22.0,700,55,"Card","Completed"),
 ("T018","Simran","Bangalore","Suresh","Bike",5.8,130,16,"Cash","Completed"),
 ("T019","Ayesha","Mumbai","Vijay","Mini",9.9,250,24,"UPI","Completed"),
 ("T020","Manish","Delhi","Anil","Bike",6.0,135,17,"Wallet","Completed"),
 ("T021","Priya","Hyderabad","Ramesh","Sedan",14.8,380,33,"Card","Completed"),
 ("T022","Yash","Chennai","Kumar","SUV",21.3,680,52,"UPI","Completed"),
 ("T023","Naina","Bangalore","Suresh","Mini",10.7,270,28,"UPI","Completed"),
 ("T024","Sameer","Mumbai","Vikas","Sedan",13.9,350,31,"Wallet","Completed"),
 ("T025","Ritika","Delhi","Anil","Bike",5.4,125,16,"Cash","Completed"),
 ("T026","Gopal","Hyderabad","Ramesh","Mini",8.9,225,23,"UPI","Completed"),
 ("T027","Tina","Bangalore","Suresh","Sedan",12.6,330,29,"Card","Completed"),
 ("T028","Irfan","Mumbai","Vijay","SUV",23.4,740,58,"Card","Completed"),
 ("T029","Sahil","Chennai","Kumar","Mini",9.4,235,24,"UPI","Completed"),
 ("T030","Lavanya","Delhi","Anil","Sedan",14.1,365,32,"Wallet","Completed"),
 ("T031","Deepak","Hyderabad","Ramesh","Bike",6.7,150,18,"Cash","Completed"),
 ("T032","Shweta","Bangalore","Suresh","Mini",10.0,255,26,"UPI","Completed"),
 ("T033","Aman","Mumbai","Vikas","Sedan",15.8,395,35,"Card","Completed"),
 ("T034","Rekha","Chennai","Kumar","Sedan",13.5,345,30,"UPI","Completed"),
 ("T035","Zubin","Delhi","Anil","SUV",24.0,760,60,"Card","Completed"),
 ("T036","Pallavi","Hyderabad","Ramesh","Mini",9.1,230,23,"Wallet","Completed"),
 ("T037","Naveen","Bangalore","Suresh","Bike",5.9,135,17,"UPI","Completed"),
 ("T038","Sonia","Mumbai","Vijay","SUV",21.7,690,54,"Card","Completed"),
 ("T039","Harish","Chennai","Kumar","Mini",8.5,215,21,"Cash","Completed"),
 ("T040","Kriti","Delhi","Anil","Sedan",14.6,375,33,"UPI","Completed"),
 ("T041","Apoorva","Hyderabad","Ramesh","Sedan",13.2,335,30,"Card","Completed"),
 ("T042","Mohit","Bangalore","Suresh","SUV",19.9,620,49,"UPI","Completed"),
 ("T043","Tanvi","Mumbai","Vikas","Mini",10.4,265,27,"Wallet","Completed"),
 ("T044","Rakesh","Chennai","Kumar","Bike",6.2,140,18,"Cash","Completed"),
 ("T045","Isha","Delhi","Anil","Mini",9.7,245,25,"UPI","Completed")
]

columns = [
 "trip_id","rider_name","city","driver_name","vehicle_type",
 "distance_km","trip_fare","trip_duration_minutes",
 "payment_mode","trip_status"
]

df = spark.createDataFrame(data, columns)

df.write.mode("overwrite").option("header", True).csv("rides_dataset_csv")

# Read the CSV and filter:
## trip_fare > 400
## trip_status = "Completed"

In [53]:
df.filter((df.trip_fare>400) & (df.trip_status=='Completed')).show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T022|      Yash|  Chennai|      Kumar|         SUV|       21.3|      680|                   52|         UPI|  Completed|
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

#From CSV, select:
####trip_id
####city
####vehicle_type
####trip_fare
##Sort by trip_fare descending.

In [54]:
df2=df.select(df.trip_id, df.city, df.vehicle_type, df.trip_fare)
df2.show()

+-------+---------+------------+---------+
|trip_id|     city|vehicle_type|trip_fare|
+-------+---------+------------+---------+
|   T001|Hyderabad|       Sedan|      320|
|   T002|Bangalore|        Mini|      210|
|   T003|    Delhi|        Bike|      120|
|   T004|   Mumbai|         SUV|      560|
|   T005|  Chennai|        Mini|      200|
|   T006|Hyderabad|       Sedan|      360|
|   T007|    Delhi|        Bike|      140|
|   T008|Bangalore|       Sedan|      300|
|   T009|   Mumbai|         SUV|      650|
|   T010|  Chennai|        Bike|      110|
|   T011|    Delhi|        Mini|      240|
|   T012|Hyderabad|         SUV|      610|
|   T013|Bangalore|       Sedan|      340|
|   T014|   Mumbai|        Mini|      260|
|   T015|    Delhi|       Sedan|      390|
|   T016|  Chennai|       Sedan|      315|
|   T017|Hyderabad|         SUV|      700|
|   T018|Bangalore|        Bike|      130|
|   T019|   Mumbai|        Mini|      250|
|   T020|    Delhi|        Bike|      135|
+-------+---------+------------+---------+
only showing top 20 rows

In [55]:
df2.orderBy(df.trip_fare.desc()).show()

+-------+---------+------------+---------+
|trip_id|     city|vehicle_type|trip_fare|
+-------+---------+------------+---------+
|   T035|    Delhi|         SUV|      760|
|   T028|   Mumbai|         SUV|      740|
|   T017|Hyderabad|         SUV|      700|
|   T038|   Mumbai|         SUV|      690|
|   T022|  Chennai|         SUV|      680|
|   T009|   Mumbai|         SUV|      650|
|   T042|Bangalore|         SUV|      620|
|   T012|Hyderabad|         SUV|      610|
|   T004|   Mumbai|         SUV|      560|
|   T033|   Mumbai|       Sedan|      395|
|   T015|    Delhi|       Sedan|      390|
|   T021|Hyderabad|       Sedan|      380|
|   T040|    Delhi|       Sedan|      375|
|   T030|    Delhi|       Sedan|      365|
|   T006|Hyderabad|       Sedan|      360|
|   T024|   Mumbai|       Sedan|      350|
|   T034|  Chennai|       Sedan|      345|
|   T013|Bangalore|       Sedan|      340|
|   T041|Hyderabad|       Sedan|      335|
|   T027|Bangalore|       Sedan|      330|
+-------+---------+------------+---------+
only showing top 20 rows

## Write only Bike trips to CSV using delimiter | .

In [56]:

bike_trips_df = df.filter(df.vehicle_type == "Bike")


bike_trips_df.write.mode("overwrite") \
    .option("header", True) \
    .option("delimiter", "|") \
    .csv("bike_trips_csv_pipe")

## Write only trips from Mumbai to JSON.

In [57]:
bt_f= df.filter(df.city=='Mumbai')

In [58]:
bike_trips_df.write.mode("overwrite") \
    .option("header", True) \
    .json("mumbai_trips")

# Read JSON and add a column:
## fare_per_km = trip_fare / distance_km
## Write back to JSON

In [60]:
from pyspark.sql.functions import col
df_rides = spark.read.option("header", True).option("inferSchema", True).csv("rides_dataset_csv")
df_rides = df_rides.withColumn("fare_per_km", col("trip_fare") / col("distance_km"))
df_rides.show(5)
df_rides.write.mode("overwrite").json("rides_dataset_with_fare_per_km_json")

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|       fare_per_km|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
|   T023|     Naina|Bangalore|     Suresh|        Mini|       10.7|      270|                   28|         UPI|  Completed|25.233644859813086|
|   T024|    Sameer|   Mumbai|      Vikas|       Sedan|       13.9|      350|                   31|      Wallet|  Completed|25.179856115107913|
|   T025|    Ritika|    Delhi|       Anil|        Bike|        5.4|      125|                   16|        Cash|  Completed|23.148148148148145|
|   T026|     Gopal|Hyderabad|     Ramesh|        Mini|        8.9|      225|                   23|         UPI|  Completed|25.280898876404493|
|   T027|      Tina|Bangalore|     Suresh|       Sedan|       12.6|      330|                   29|        Card|  Completed| 26.19047619047619|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
only showing top 5 rows

#Filter JSON data:
##payment_mode = "Card"
##vehicle_type = "SUV"

In [64]:
df_rides.filter((df_rides.payment_mode=='Card') & (df_rides.vehicle_type=="SUV")).show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|       fare_per_km|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|31.623931623931625|
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|31.666666666666668|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|31.797235023041477|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed| 31.70731707317073|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|31.770833333333336|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|31.818181818181817|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+

## Force JSON output into a single partition and observe the output structure.

In [65]:
from pyspark.sql.functions import col
df_rides = df_rides.withColumn("fare_per_km", col("trip_fare") / col("distance_km"))
df_rides.coalesce(1).write.mode("overwrite").json("rides_dataset_single_json")

# Convert full dataset to Parquet.

In [66]:

df_rides.write.mode("overwrite").parquet("rides_dataset_parquet")

## Read Parquet and filter

In [68]:
df_parquet = spark.read.parquet("rides_dataset_parquet")
df_parquet.filter(col("trip_duration_minutes") > 45).show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|       fare_per_km|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|31.623931623931625|
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|31.666666666666668|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|31.797235023041477|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|31.155778894472363|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed| 31.70731707317073|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|31.770833333333336|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|31.818181818181817|
|   T022|      Yash|  Chennai|      Kumar|         SUV|       21.3|      680|                   52|         UPI|  Completed| 31.92488262910798|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+

# Sort Parquet data by distance_km descending and write top 10 trips back to Parquet

In [70]:
df_parquet.orderBy(df_parquet.distance_km.desc()).limit(10).show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|       fare_per_km|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|31.666666666666668|
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|31.623931623931625|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|31.818181818181817|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|31.797235023041477|
|   T022|      Yash|  Chennai|      Kumar|         SUV|       21.3|      680|                   52|         UPI|  Completed| 31.92488262910798|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed| 31.70731707317073|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|31.155778894472363|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|31.770833333333336|
|   T004|     Pooja|   Mumbai|      Vikas|         SUV|       18.0|      560|                   45|         UPI|  Cancelled| 31.11111111111111|
|   T033|      Aman|   Mumbai|      Vikas|       Sedan|       15.8|      395|                   35|        Card|  Completed|              25.0|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+

## Convert:
### CSV → Parquet
### JSON → Parquet

In [74]:
df_csv = spark.read.csv("/content/rides_dataset_csv", header=True, inferSchema=True)
df_csv.write.mode("overwrite").parquet("csv_to_parquet")

df_json = spark.read.json("/content/rides_dataset_single_json")
df_json.write.mode("overwrite").parquet("json_to_parquet")

#Which city generates the highest total trip_fare?

In [75]:
from pyspark.sql.functions import sum
city_revenue = (
    df.groupBy("city")
      .agg(sum("trip_fare").alias("total_trip_fare"))
      .orderBy("total_trip_fare", ascending=False)
)

city_revenue.show(1)

+------+---------------+
|  city|total_trip_fare|
+------+---------------+
|Mumbai|           4160|
+------+---------------+
only showing top 1 row

# Which vehicle_type has the highest average fare?

In [77]:
from pyspark.sql.functions import avg
avg_fare_highest = (
    df.groupBy("vehicle_type")
      .agg(avg("trip_fare").alias("avg_fare"))
      .orderBy("avg_fare", ascending=False)
)

avg_fare_highest.show(1)

+------------+-----------------+
|vehicle_type|         avg_fare|
+------------+-----------------+
|         SUV|667.7777777777778|
+------------+-----------------+
only showing top 1 row

## Which driver has completed the most trips?

In [78]:
from pyspark.sql.functions import count, col
completed_trips = df.filter(col("trip_status") == "Completed")

driver_completed = (
    completed_trips.groupBy("driver_name")
                   .agg(count("trip_id").alias("completed_trips"))
                   .orderBy("completed_trips", ascending=False)
)

driver_completed.show(1)

+-----------+---------------+
|driver_name|completed_trips|
+-----------+---------------+
|       Anil|             10|
+-----------+---------------+
only showing top 1 row

# Why is Parquet preferred for analytics dashboards and aggregations?

Parquet is preferred for analytics dashboards and aggregations because it is a columnar, compressed format that reduces storage size, speeds up queries, and minimizes costs by scanning only the necessary columns.

# Repartition the dataset into 4 partitions and write to Parquet

In [79]:

df_repartitioned = df.repartition(4)

df_repartitioned.write.mode("overwrite").parquet("rides_dataset_parquet_4parts")

#Create a summary dataset

In [80]:
from pyspark.sql.functions import count, sum, avg, col
df = df.withColumn("trip_fare", col("trip_fare").cast("double")) \
       .withColumn("trip_duration_minutes", col("trip_duration_minutes").cast("double"))

summary_df = (
    df.groupBy("city")
      .agg(
          count("trip_id").alias("total_trips"),
          sum("trip_fare").alias("total_revenue"),
          avg("trip_duration_minutes").alias("average_trip_duration")
      )
)

summary_df.show()

summary_df.write.mode("overwrite").parquet("rides_summary_parquet")

+---------+-----------+-------------+---------------------+
|     city|total_trips|total_revenue|average_trip_duration|
+---------+-----------+-------------+---------------------+
|Bangalore|          9|       2590.0|    27.11111111111111|
|  Chennai|          8|       2240.0|                 26.0|
|   Mumbai|          9|       4160.0|   38.888888888888886|
|    Delhi|         10|       2895.0|                 27.5|
|Hyderabad|          9|       3310.0|    32.22222222222222|
+---------+-----------+-------------+---------------------+