In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession

spark=SparkSession.builder\
      .appName("Read CSV Example")\
      .getOrCreate()

spark.version

'4.0.1'

#Read and write from CSV

In [11]:
data = [
    ("O001","Amit","Hyderabad","Spice Hub","Indian",450,35,"UPI","Delivered"),
    ("O002","Neha","Bangalore","Pizza Town","Italian",650,40,"Card","Delivered"),
    ("O003","Rahul","Delhi","Burger Zone","American",520,30,"Cash","Delivered"),
    ("O004","Pooja","Mumbai","Sushi Bar","Japanese",1200,55,"UPI","Cancelled"),
    ("O005","Arjun","Chennai","Curry Leaf","Indian",380,28,"UPI","Delivered"),
    ("O006","Sneha","Hyderabad","Pasta Street","Italian",700,45,"Card","Delivered"),
    ("O007","Karan","Delhi","Taco Bell","Mexican",540,33,"UPI","Delivered"),
    ("O008","Riya","Bangalore","Dragon Bowl","Chinese",600,38,"Wallet","Delivered"),
    ("O009","Vikas","Mumbai","BBQ Nation","Indian",1500,60,"Card","Delivered"),
    ("O010","Anjali","Chennai","Burger Zone","American",480,32,"Cash","Delivered"),
    ("O011","Farhan","Delhi","Biryani House","Indian",520,36,"UPI","Delivered"),
    ("O012","Megha","Hyderabad","Sushi Bar","Japanese",1100,58,"Card","Cancelled"),
    ("O013","Suresh","Bangalore","Curry Leaf","Indian",420,29,"UPI","Delivered"),
    ("O014","Divya","Mumbai","Pizza Town","Italian",780,42,"Wallet","Delivered"),
    ("O015","Nikhil","Delhi","Pasta Street","Italian",690,47,"UPI","Delivered"),
    ("O016","Kavya","Chennai","Dragon Bowl","Chinese",560,34,"UPI","Delivered"),
    ("O017","Rohit","Hyderabad","BBQ Nation","Indian",1400,62,"Card","Delivered"),
    ("O018","Simran","Bangalore","Burger Zone","American",510,31,"Cash","Delivered"),
    ("O019","Ayesha","Mumbai","Taco Bell","Mexican",570,35,"UPI","Delivered"),
    ("O020","Manish","Delhi","Curry Leaf","Indian",390,27,"Wallet","Delivered"),
    ("O021","Priya","Hyderabad","Pizza Town","Italian",720,41,"Card","Delivered"),
    ("O022","Yash","Chennai","Sushi Bar","Japanese",1150,57,"UPI","Delivered"),
    ("O023","Naina","Bangalore","Pasta Street","Italian",680,44,"UPI","Delivered"),
    ("O024","Sameer","Mumbai","Dragon Bowl","Chinese",610,39,"Wallet","Delivered"),
    ("O025","Ritika","Delhi","Burger Zone","American",500,30,"Cash","Delivered"),
    ("O026","Gopal","Hyderabad","Curry Leaf","Indian",410,28,"UPI","Delivered"),
    ("O027","Tina","Bangalore","Pizza Town","Italian",760,43,"Card","Delivered"),
    ("O028","Irfan","Mumbai","BBQ Nation","Indian",1550,65,"Card","Delivered"),
    ("O029","Sahil","Chennai","Taco Bell","Mexican",590,37,"UPI","Delivered"),
    ("O030","Lavanya","Delhi","Dragon Bowl","Chinese",630,40,"Wallet","Delivered"),
    ("O031","Deepak","Hyderabad","Burger Zone","American",520,33,"Cash","Delivered"),
    ("O032","Shweta","Bangalore","Curry Leaf","Indian",450,31,"UPI","Delivered"),
    ("O033","Aman","Mumbai","Pizza Town","Italian",810,46,"Card","Delivered"),
    ("O034","Rekha","Chennai","Pasta Street","Italian",700,45,"UPI","Delivered"),
    ("O035","Zubin","Delhi","BBQ Nation","Indian",1480,63,"Card","Delivered"),
    ("O036","Pallavi","Hyderabad","Dragon Bowl","Chinese",580,36,"Wallet","Delivered"),
    ("O037","Naveen","Bangalore","Taco Bell","Mexican",560,34,"UPI","Delivered"),
    ("O038","Sonia","Mumbai","Sushi Bar","Japanese",1180,59,"Card","Delivered"),
    ("O039","Harish","Chennai","Burger Zone","American",490,29,"Cash","Delivered"),
    ("O040","Kriti","Delhi","Curry Leaf","Indian",420,26,"UPI","Delivered")
]

In [12]:
columns = [
    "order_id","customer_name","city","restaurant","cuisine",
    "order_amount","delivery_time_minutes","payment_mode","order_status"
]

In [13]:
df = spark.createDataFrame(data, columns)
df.show()
df.printSchema()

+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|   restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|    O001|         Amit|Hyderabad|    Spice Hub|  Indian|         450|                   35|         UPI|   Delivered|
|    O002|         Neha|Bangalore|   Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O003|        Rahul|    Delhi|  Burger Zone|American|         520|                   30|        Cash|   Delivered|
|    O004|        Pooja|   Mumbai|    Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O005|        Arjun|  Chennai|   Curry Leaf|  Indian|         380|                   28|         UPI|   Delivered|
|    O006|        Sneha|Hyderabad| Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O007|        Karan|    Delhi|    Taco Bell| Mexican|         540|                   33|         UPI|   Delivered|
|    O008|         Riya|Bangalore|  Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
|    O009|        Vikas|   Mumbai|   BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O010|       Anjali|  Chennai|  Burger Zone|American|         480|                   32|        Cash|   Delivered|
|    O011|       Farhan|    Delhi|Biryani House|  Indian|         520|                   36|         UPI|   Delivered|
|    O012|        Megha|Hyderabad|    Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O013|       Suresh|Bangalore|   Curry Leaf|  Indian|         420|                   29|         UPI|   Delivered|
|    O014|        Divya|   Mumbai|   Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O015|       Nikhil|    Delhi| Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O016|        Kavya|  Chennai|  Dragon Bowl| Chinese|         560|                   34|         UPI|   Delivered|
|    O017|        Rohit|Hyderabad|   BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O018|       Simran|Bangalore|  Burger Zone|American|         510|                   31|        Cash|   Delivered|
|    O019|       Ayesha|   Mumbai|    Taco Bell| Mexican|         570|                   35|         UPI|   Delivered|
|    O020|       Manish|    Delhi|   Curry Leaf|  Indian|         390|                   27|      Wallet|   Delivered|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows
root
 |-- order_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- restaurant: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- order_amount: long (nullable = true)
 |-- delivery_time_minutes: long (nullable = true)
 |-- payment_mode: string (nullable = true)
 |-- order_status: string (nullable = true)

In [16]:
df.write.csv("orders_csv", header=True)

# Read back from csv and filter data where amount is greater than 700

In [17]:

df2 = spark.read.csv("orders_csv", header=True, inferSchema=True)

df2.filter(df2.order_amount > 700).show()

+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|    O021|        Priya|Hyderabad|Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O022|         Yash|  Chennai| Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O027|         Tina|Bangalore|Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O028|        Irfan|   Mumbai|BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O033|         Aman|   Mumbai|Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O035|        Zubin|    Delhi|BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O038|        Sonia|   Mumbai| Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O004|        Pooja|   Mumbai| Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O009|        Vikas|   Mumbai|BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O012|        Megha|Hyderabad| Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O014|        Divya|   Mumbai|Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O017|        Rohit|Hyderabad|BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+

# Read only certain columns

In [18]:
df2.select("order_id", "city", "cuisine", "order_amount").show()

+--------+---------+--------+------------+
|order_id|     city| cuisine|order_amount|
+--------+---------+--------+------------+
|    O021|Hyderabad| Italian|         720|
|    O022|  Chennai|Japanese|        1150|
|    O023|Bangalore| Italian|         680|
|    O024|   Mumbai| Chinese|         610|
|    O025|    Delhi|American|         500|
|    O026|Hyderabad|  Indian|         410|
|    O027|Bangalore| Italian|         760|
|    O028|   Mumbai|  Indian|        1550|
|    O029|  Chennai| Mexican|         590|
|    O030|    Delhi| Chinese|         630|
|    O031|Hyderabad|American|         520|
|    O032|Bangalore|  Indian|         450|
|    O033|   Mumbai| Italian|         810|
|    O034|  Chennai| Italian|         700|
|    O035|    Delhi|  Indian|        1480|
|    O036|Hyderabad| Chinese|         580|
|    O037|Bangalore| Mexican|         560|
|    O038|   Mumbai|Japanese|        1180|
|    O039|  Chennai|American|         490|
|    O040|    Delhi|  Indian|         420|
+--------+---------+--------+------------+
only showing top 20 rows

# Sort in descending order of an attribute and store in csv

In [19]:

sorted_df = df2.orderBy(df2.delivery_time_minutes.desc())


sorted_df.show()


sorted_df.write.mode("overwrite").csv("sorted_output", header=True)

+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|  restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|    O028|        Irfan|   Mumbai|  BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O035|        Zubin|    Delhi|  BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O017|        Rohit|Hyderabad|  BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O009|        Vikas|   Mumbai|  BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O038|        Sonia|   Mumbai|   Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O012|        Megha|Hyderabad|   Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O022|         Yash|  Chennai|   Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O004|        Pooja|   Mumbai|   Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O015|       Nikhil|    Delhi|Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O033|         Aman|   Mumbai|  Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O006|        Sneha|Hyderabad|Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O034|        Rekha|  Chennai|Pasta Street| Italian|         700|                   45|         UPI|   Delivered|
|    O023|        Naina|Bangalore|Pasta Street| Italian|         680|                   44|         UPI|   Delivered|
|    O027|         Tina|Bangalore|  Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O014|        Divya|   Mumbai|  Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O021|        Priya|Hyderabad|  Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O002|         Neha|Bangalore|  Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O030|      Lavanya|    Delhi| Dragon Bowl| Chinese|         630|                   40|      Wallet|   Delivered|
|    O024|       Sameer|   Mumbai| Dragon Bowl| Chinese|         610|                   39|      Wallet|   Delivered|
|    O008|         Riya|Bangalore| Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows

# Write only delivered orders to Json

In [20]:

delivered_df = df2.filter(df2.order_status == "Delivered")


delivered_df.show()


delivered_df.write.mode("overwrite").json("delivered_orders_json")

+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|  restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|    O021|        Priya|Hyderabad|  Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O022|         Yash|  Chennai|   Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O023|        Naina|Bangalore|Pasta Street| Italian|         680|                   44|         UPI|   Delivered|
|    O024|       Sameer|   Mumbai| Dragon Bowl| Chinese|         610|                   39|      Wallet|   Delivered|
|    O025|       Ritika|    Delhi| Burger Zone|American|         500|                   30|        Cash|   Delivered|
|    O026|        Gopal|Hyderabad|  Curry Leaf|  Indian|         410|                   28|         UPI|   Delivered|
|    O027|         Tina|Bangalore|  Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O028|        Irfan|   Mumbai|  BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O029|        Sahil|  Chennai|   Taco Bell| Mexican|         590|                   37|         UPI|   Delivered|
|    O030|      Lavanya|    Delhi| Dragon Bowl| Chinese|         630|                   40|      Wallet|   Delivered|
|    O031|       Deepak|Hyderabad| Burger Zone|American|         520|                   33|        Cash|   Delivered|
|    O032|       Shweta|Bangalore|  Curry Leaf|  Indian|         450|                   31|         UPI|   Delivered|
|    O033|         Aman|   Mumbai|  Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O034|        Rekha|  Chennai|Pasta Street| Italian|         700|                   45|         UPI|   Delivered|
|    O035|        Zubin|    Delhi|  BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O036|      Pallavi|Hyderabad| Dragon Bowl| Chinese|         580|                   36|      Wallet|   Delivered|
|    O037|       Naveen|Bangalore|   Taco Bell| Mexican|         560|                   34|         UPI|   Delivered|
|    O038|        Sonia|   Mumbai|   Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O039|       Harish|  Chennai| Burger Zone|American|         490|                   29|        Cash|   Delivered|
|    O040|        Kriti|    Delhi|  Curry Leaf|  Indian|         420|                   26|         UPI|   Delivered|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows

#Read JSON and filter:
###city = "Mumbai"
###payment_mode = "Card"

In [21]:

df_json = spark.read.json("delivered_orders_json")

filtered_df = df_json.filter((df_json.city == "Mumbai") & (df_json.payment_mode == "Card"))

filtered_df.show()

+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|  city| cuisine|customer_name|delivery_time_minutes|order_amount|order_id|order_status|payment_mode|restaurant|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|Mumbai|  Indian|        Irfan|                   65|        1550|    O028|   Delivered|        Card|BBQ Nation|
|Mumbai| Italian|         Aman|                   46|         810|    O033|   Delivered|        Card|Pizza Town|
|Mumbai|Japanese|        Sonia|                   59|        1180|    O038|   Delivered|        Card| Sushi Bar|
|Mumbai|  Indian|        Vikas|                   60|        1500|    O009|   Delivered|        Card|BBQ Nation|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+

#Add a column:
##delivery_category
#Logic:
###delivery_time_minutes > 45 → "Late"
###else → "OnTime"
##Write output to JSON.

In [22]:
from pyspark.sql.functions import when

df_with_category = df_json.withColumn(
    "delivery_category",
    when(df_json.delivery_time_minutes > 45, "Late").otherwise("OnTime")
)

df_with_category.show()

df_with_category.write.mode("overwrite").json("delivered_orders_with_category_json")

+---------+--------+-------------+---------------------+------------+--------+------------+------------+------------+-----------------+
|     city| cuisine|customer_name|delivery_time_minutes|order_amount|order_id|order_status|payment_mode|  restaurant|delivery_category|
+---------+--------+-------------+---------------------+------------+--------+------------+------------+------------+-----------------+
|Hyderabad| Italian|        Priya|                   41|         720|    O021|   Delivered|        Card|  Pizza Town|           OnTime|
|  Chennai|Japanese|         Yash|                   57|        1150|    O022|   Delivered|         UPI|   Sushi Bar|             Late|
|Bangalore| Italian|        Naina|                   44|         680|    O023|   Delivered|         UPI|Pasta Street|           OnTime|
|   Mumbai| Chinese|       Sameer|                   39|         610|    O024|   Delivered|      Wallet| Dragon Bowl|           OnTime|
|    Delhi|American|       Ritika|                   30|         500|    O025|   Delivered|        Cash| Burger Zone|           OnTime|
|Hyderabad|  Indian|        Gopal|                   28|         410|    O026|   Delivered|         UPI|  Curry Leaf|           OnTime|
|Bangalore| Italian|         Tina|                   43|         760|    O027|   Delivered|        Card|  Pizza Town|           OnTime|
|   Mumbai|  Indian|        Irfan|                   65|        1550|    O028|   Delivered|        Card|  BBQ Nation|             Late|
|  Chennai| Mexican|        Sahil|                   37|         590|    O029|   Delivered|         UPI|   Taco Bell|           OnTime|
|    Delhi| Chinese|      Lavanya|                   40|         630|    O030|   Delivered|      Wallet| Dragon Bowl|           OnTime|
|Hyderabad|American|       Deepak|                   33|         520|    O031|   Delivered|        Cash| Burger Zone|           OnTime|
|Bangalore|  Indian|       Shweta|                   31|         450|    O032|   Delivered|         UPI|  Curry Leaf|           OnTime|
|   Mumbai| Italian|         Aman|                   46|         810|    O033|   Delivered|        Card|  Pizza Town|             Late|
|  Chennai| Italian|        Rekha|                   45|         700|    O034|   Delivered|         UPI|Pasta Street|           OnTime|
|    Delhi|  Indian|        Zubin|                   63|        1480|    O035|   Delivered|        Card|  BBQ Nation|             Late|
|Hyderabad| Chinese|      Pallavi|                   36|         580|    O036|   Delivered|      Wallet| Dragon Bowl|           OnTime|
|Bangalore| Mexican|       Naveen|                   34|         560|    O037|   Delivered|         UPI|   Taco Bell|           OnTime|
|   Mumbai|Japanese|        Sonia|                   59|        1180|    O038|   Delivered|        Card|   Sushi Bar|             Late|
|  Chennai|American|       Harish|                   29|         490|    O039|   Delivered|        Cash| Burger Zone|           OnTime|
|    Delhi|  Indian|        Kriti|                   26|         420|    O040|   Delivered|         UPI|  Curry Leaf|           OnTime|
+---------+--------+-------------+---------------------+------------+--------+------------+------------+------------+-----------------+
only showing top 20 rows

# Force JSON output to a single partition and observe number of files created.

In [23]:
single_partition_df = df_json.coalesce(1)

single_partition_df.write.mode("overwrite").json("single_partition_json")

# Convert full dataset to Parquet.

In [24]:

df2.write.mode("overwrite").parquet("dataset_parquet")

#Read Parquet and filter:
##cuisine = "Indian"
##order_amount > 500

In [29]:
df_parquet = spark.read.parquet("dataset_parquet")

filtered_df = df_parquet.filter((df_parquet.cuisine == "Indian") & (df_parquet.order_amount > 500))

filtered_df.show()

+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|   restaurant|cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+
|    O009|        Vikas|   Mumbai|   BBQ Nation| Indian|        1500|                   60|        Card|   Delivered|
|    O011|       Farhan|    Delhi|Biryani House| Indian|         520|                   36|         UPI|   Delivered|
|    O017|        Rohit|Hyderabad|   BBQ Nation| Indian|        1400|                   62|        Card|   Delivered|
|    O028|        Irfan|   Mumbai|   BBQ Nation| Indian|        1550|                   65|        Card|   Delivered|
|    O035|        Zubin|    Delhi|   BBQ Nation| Indian|        1480|                   63|        Card|   Delivered|
+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+

# Sort Parquet data by order_amount descending and write top 10 orders back to Parquet.

In [33]:
df_sorted=df_parquet.orderBy(df_parquet.order_amount.desc())
df_sorted.show()

+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|  restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|    O028|        Irfan|   Mumbai|  BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O009|        Vikas|   Mumbai|  BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O035|        Zubin|    Delhi|  BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O017|        Rohit|Hyderabad|  BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O004|        Pooja|   Mumbai|   Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O038|        Sonia|   Mumbai|   Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O022|         Yash|  Chennai|   Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O012|        Megha|Hyderabad|   Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O033|         Aman|   Mumbai|  Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O014|        Divya|   Mumbai|  Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O027|         Tina|Bangalore|  Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O021|        Priya|Hyderabad|  Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O006|        Sneha|Hyderabad|Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O034|        Rekha|  Chennai|Pasta Street| Italian|         700|                   45|         UPI|   Delivered|
|    O015|       Nikhil|    Delhi|Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O023|        Naina|Bangalore|Pasta Street| Italian|         680|                   44|         UPI|   Delivered|
|    O002|         Neha|Bangalore|  Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O030|      Lavanya|    Delhi| Dragon Bowl| Chinese|         630|                   40|      Wallet|   Delivered|
|    O024|       Sameer|   Mumbai| Dragon Bowl| Chinese|         610|                   39|      Wallet|   Delivered|
|    O008|         Riya|Bangalore| Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows

In [34]:
df_sorted=df_sorted.limit(10)
df_sorted.show()

+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|    O028|        Irfan|   Mumbai|BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O009|        Vikas|   Mumbai|BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O035|        Zubin|    Delhi|BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O017|        Rohit|Hyderabad|BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O004|        Pooja|   Mumbai| Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O038|        Sonia|   Mumbai| Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O022|         Yash|  Chennai| Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O012|        Megha|Hyderabad| Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O033|         Aman|   Mumbai|Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O014|        Divya|   Mumbai|Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+

In [35]:
df_sorted.write.mode("overwrite").parquet("top_10")

# Compare sizes

In [38]:
import os


def get_folder_size(path):
    total_size = 0
    for dirpath, dirnames, filenames in os.walk(path):
        for f in filenames:
            fp = os.path.join(dirpath, f)
            total_size += os.path.getsize(fp)
    return total_size

csv_size = get_folder_size("orders_csv")
json_size = get_folder_size("employees.json")
parquet_size = get_folder_size("employee.parquet")

print("CSV size:", csv_size, "bytes")
print("JSON size:", json_size, "bytes")
print("Parquet size:", parquet_size, "bytes")

CSV size: 2695 bytes
JSON size: 182 bytes
Parquet size: 3231 bytes

#Parquet
### Smallest and most efficient, especially for analytical workloads, because it minimizes redundancy and leverages compression.

#Convert:
##CSV → Parquet
##JSON → Parquet

In [40]:
df_csv = spark.read.csv("/content/orders_csv", header=True, inferSchema=True)
df_csv.write.mode("overwrite").parquet("csv_to_parquet")

df_json = spark.read.json("employees.json")
df_json.write.mode("overwrite").parquet("json_to_parquet")

# Read Parquet and write it back as CSV using delimiter | .

In [41]:
df_parquet = spark.read.parquet("dataset_parquet")

df_parquet.write.mode("overwrite").option("header", True).option("delimiter", "|").csv("parquet_to_csv_pipe")

# Which cuisine generates the highest order_amount overall?

In [44]:
df.write.csv("trailcsv", header=True)
df2 = spark.read.csv("trailcsv", header=True, inferSchema=True)

In [45]:
from pyspark.sql.functions import sum

result = (
    df2.groupBy("cuisine")
      .agg(sum("order_amount").alias("total_order_amount"))
      .orderBy("total_order_amount", ascending=False)
)

result.show(1)

+-------+------------------+
|cuisine|total_order_amount|
+-------+------------------+
| Indian|              9370|
+-------+------------------+
only showing top 1 row

# Which city has the highest number of orders?

In [46]:
from pyspark.sql.functions import count

city_orders = (
    df.groupBy("city")
      .agg(count("order_id").alias("order_count"))
      .orderBy("order_count", ascending=False)
)

city_orders.show(1)

+-----+-----------+
| city|order_count|
+-----+-----------+
|Delhi|          9|
+-----+-----------+
only showing top 1 row

# Which payment mode is most frequently used?

In [47]:
from pyspark.sql.functions import count

payment_mode_counts = (
    df.groupBy("payment_mode")
      .agg(count("order_id").alias("order_count"))
      .orderBy("order_count", ascending=False)
)

payment_mode_counts.show(1)

+------------+-----------+
|payment_mode|order_count|
+------------+-----------+
|         UPI|         17|
+------------+-----------+
only showing top 1 row

# Why is Parquet the preferred format for analytics platforms like Databricks and BigQuery?

Parquet is preferred because it delivers smaller storage size, faster queries, and efficient compression compared to row‑based formats like CSV or JSON. Analytics platforms such as Databricks and BigQuery rely on these advantages to handle massive datasets cost‑effectively

# Repartition the dataset into 4 partitions and write to Parquet.

In [48]:
df_repartitioned = df2.repartition(4)

df_repartitioned.write.mode("overwrite").parquet("df_repartitioned_parquet")

#Create a report dataset containing:
##city
##total_orders
##total_revenue
#Write it to Parquet.

In [50]:
from pyspark.sql.functions import count, sum

report_df = (
    df2.groupBy("city")
      .agg(
          count("order_id").alias("total_orders"),
          sum("order_amount").alias("total_revenue")
      )
)

report_df.show()
report_df.write.mode("overwrite").parquet("city_report_parquet")

+---------+------------+-------------+
|     city|total_orders|total_revenue|
+---------+------------+-------------+
|Bangalore|           8|         4630|
|  Chennai|           7|         4350|
|   Mumbai|           8|         8200|
|    Delhi|           9|         5690|
|Hyderabad|           8|         5880|
+---------+------------+-------------+