In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession

spark=SparkSession.builder\
      .appName("Read CSV Example")\
      .getOrCreate()

spark.version

'4.0.1'

#Read and write from CSV

In [3]:
data = [
 ("T001","Amit","Hyderabad","Ramesh","Sedan",12.5,320,28,"UPI","Completed"),
 ("T002","Neha","Bangalore","Suresh","Mini",8.2,210,22,"Card","Completed"),
 ("T003","Rahul","Delhi","Anil","Bike",5.1,120,15,"Cash","Completed"),
 ("T004","Pooja","Mumbai","Vikas","SUV",18.0,560,45,"UPI","Cancelled"),
 ("T005","Arjun","Chennai","Kumar","Mini",7.8,200,20,"UPI","Completed"),
 ("T006","Sneha","Hyderabad","Ramesh","Sedan",14.2,360,32,"Card","Completed"),
 ("T007","Karan","Delhi","Anil","Bike",6.3,140,18,"UPI","Completed"),
 ("T008","Riya","Bangalore","Suresh","Sedan",11.0,300,27,"Wallet","Completed"),
 ("T009","Vikas","Mumbai","Vijay","SUV",20.5,650,50,"Card","Completed"),
 ("T010","Anjali","Chennai","Kumar","Bike",4.9,110,14,"Cash","Completed"),
 ("T011","Farhan","Delhi","Anil","Mini",9.6,240,25,"UPI","Completed"),
 ("T012","Megha","Hyderabad","Ramesh","SUV",19.2,610,48,"Card","Cancelled"),
 ("T013","Suresh","Bangalore","Suresh","Sedan",13.0,340,30,"UPI","Completed"),
 ("T014","Divya","Mumbai","Vikas","Mini",10.2,260,26,"Wallet","Completed"),
 ("T015","Nikhil","Delhi","Anil","Sedan",15.5,390,34,"UPI","Completed"),
 ("T016","Kavya","Chennai","Kumar","Sedan",12.1,315,29,"UPI","Completed"),
 ("T017","Rohit","Hyderabad","Ramesh","SUV",22.0,700,55,"Card","Completed"),
 ("T018","Simran","Bangalore","Suresh","Bike",5.8,130,16,"Cash","Completed"),
 ("T019","Ayesha","Mumbai","Vijay","Mini",9.9,250,24,"UPI","Completed"),
 ("T020","Manish","Delhi","Anil","Bike",6.0,135,17,"Wallet","Completed"),
 ("T021","Priya","Hyderabad","Ramesh","Sedan",14.8,380,33,"Card","Completed"),
 ("T022","Yash","Chennai","Kumar","SUV",21.3,680,52,"UPI","Completed"),
 ("T023","Naina","Bangalore","Suresh","Mini",10.7,270,28,"UPI","Completed"),
 ("T024","Sameer","Mumbai","Vikas","Sedan",13.9,350,31,"Wallet","Completed"),
 ("T025","Ritika","Delhi","Anil","Bike",5.4,125,16,"Cash","Completed"),
 ("T026","Gopal","Hyderabad","Ramesh","Mini",8.9,225,23,"UPI","Completed"),
 ("T027","Tina","Bangalore","Suresh","Sedan",12.6,330,29,"Card","Completed"),
 ("T028","Irfan","Mumbai","Vijay","SUV",23.4,740,58,"Card","Completed"),
 ("T029","Sahil","Chennai","Kumar","Mini",9.4,235,24,"UPI","Completed"),
 ("T030","Lavanya","Delhi","Anil","Sedan",14.1,365,32,"Wallet","Completed"),
 ("T031","Deepak","Hyderabad","Ramesh","Bike",6.7,150,18,"Cash","Completed"),
 ("T032","Shweta","Bangalore","Suresh","Mini",10.0,255,26,"UPI","Completed"),
 ("T033","Aman","Mumbai","Vikas","Sedan",15.8,395,35,"Card","Completed"),
 ("T034","Rekha","Chennai","Kumar","Sedan",13.5,345,30,"UPI","Completed"),
 ("T035","Zubin","Delhi","Anil","SUV",24.0,760,60,"Card","Completed"),
 ("T036","Pallavi","Hyderabad","Ramesh","Mini",9.1,230,23,"Wallet","Completed"),
 ("T037","Naveen","Bangalore","Suresh","Bike",5.9,135,17,"UPI","Completed"),
 ("T038","Sonia","Mumbai","Vijay","SUV",21.7,690,54,"Card","Completed"),
 ("T039","Harish","Chennai","Kumar","Mini",8.5,215,21,"Cash","Completed"),
 ("T040","Kriti","Delhi","Anil","Sedan",14.6,375,33,"UPI","Completed"),
 ("T041","Apoorva","Hyderabad","Ramesh","Sedan",13.2,335,30,"Card","Completed"),
 ("T042","Mohit","Bangalore","Suresh","SUV",19.9,620,49,"UPI","Completed"),
 ("T043","Tanvi","Mumbai","Vikas","Mini",10.4,265,27,"Wallet","Completed"),
 ("T044","Rakesh","Chennai","Kumar","Bike",6.2,140,18,"Cash","Completed"),
 ("T045","Isha","Delhi","Anil","Mini",9.7,245,25,"UPI","Completed")
]

columns = [
 "trip_id","rider_name","city","driver_name","vehicle_type",
 "distance_km","trip_fare","trip_duration_minutes",
 "payment_mode","trip_status"
]

df = spark.createDataFrame(data, columns)

df.write.mode("overwrite").option("header", True).csv("rides_dataset_csv")

# RDD Pyspark

In [4]:
rdd=spark.sparkContext.textFile("rides_dataset_csv")
rdd.take(5)

['trip_id,rider_name,city,driver_name,vehicle_type,distance_km,trip_fare,trip_duration_minutes,payment_mode,trip_status',
 'T001,Amit,Hyderabad,Ramesh,Sedan,12.5,320,28,UPI,Completed',
 'T002,Neha,Bangalore,Suresh,Mini,8.2,210,22,Card,Completed',
 'T003,Rahul,Delhi,Anil,Bike,5.1,120,15,Cash,Completed',
 'T004,Pooja,Mumbai,Vikas,SUV,18.0,560,45,UPI,Cancelled']

In [5]:
header=rdd.first()
data_rdd=rdd.filter(lambda row: row!=header)
data_rdd.collect()

['T001,Amit,Hyderabad,Ramesh,Sedan,12.5,320,28,UPI,Completed',
 'T002,Neha,Bangalore,Suresh,Mini,8.2,210,22,Card,Completed',
 'T003,Rahul,Delhi,Anil,Bike,5.1,120,15,Cash,Completed',
 'T004,Pooja,Mumbai,Vikas,SUV,18.0,560,45,UPI,Cancelled',
 'T005,Arjun,Chennai,Kumar,Mini,7.8,200,20,UPI,Completed',
 'T006,Sneha,Hyderabad,Ramesh,Sedan,14.2,360,32,Card,Completed',
 'T007,Karan,Delhi,Anil,Bike,6.3,140,18,UPI,Completed',
 'T008,Riya,Bangalore,Suresh,Sedan,11.0,300,27,Wallet,Completed',
 'T009,Vikas,Mumbai,Vijay,SUV,20.5,650,50,Card,Completed',
 'T010,Anjali,Chennai,Kumar,Bike,4.9,110,14,Cash,Completed',
 'T011,Farhan,Delhi,Anil,Mini,9.6,240,25,UPI,Completed',
 'T012,Megha,Hyderabad,Ramesh,SUV,19.2,610,48,Card,Cancelled',
 'T013,Suresh,Bangalore,Suresh,Sedan,13.0,340,30,UPI,Completed',
 'T014,Divya,Mumbai,Vikas,Mini,10.2,260,26,Wallet,Completed',
 'T015,Nikhil,Delhi,Anil,Sedan,15.5,390,34,UPI,Completed',
 'T016,Kavya,Chennai,Kumar,Sedan,12.1,315,29,UPI,Completed',
 'T017,Rohit,Hyderabad,Ramesh,SUV,22.0,700,55,Card,Completed',
 'T018,Simran,Bangalore,Suresh,Bike,5.8,130,16,Cash,Completed',
 'T019,Ayesha,Mumbai,Vijay,Mini,9.9,250,24,UPI,Completed',
 'T020,Manish,Delhi,Anil,Bike,6.0,135,17,Wallet,Completed',
 'T021,Priya,Hyderabad,Ramesh,Sedan,14.8,380,33,Card,Completed',
 'T022,Yash,Chennai,Kumar,SUV,21.3,680,52,UPI,Completed',
 'T023,Naina,Bangalore,Suresh,Mini,10.7,270,28,UPI,Completed',
 'T024,Sameer,Mumbai,Vikas,Sedan,13.9,350,31,Wallet,Completed',
 'T025,Ritika,Delhi,Anil,Bike,5.4,125,16,Cash,Completed',
 'T026,Gopal,Hyderabad,Ramesh,Mini,8.9,225,23,UPI,Completed',
 'T027,Tina,Bangalore,Suresh,Sedan,12.6,330,29,Card,Completed',
 'T028,Irfan,Mumbai,Vijay,SUV,23.4,740,58,Card,Completed',
 'T029,Sahil,Chennai,Kumar,Mini,9.4,235,24,UPI,Completed',
 'T030,Lavanya,Delhi,Anil,Sedan,14.1,365,32,Wallet,Completed',
 'T031,Deepak,Hyderabad,Ramesh,Bike,6.7,150,18,Cash,Completed',
 'T032,Shweta,Bangalore,Suresh,Mini,10.0,255,26,UPI,Completed',
 'T033,Aman,Mumbai,Vikas,Sedan,15.8,395,35,Card,Completed',
 'T034,Rekha,Chennai,Kumar,Sedan,13.5,345,30,UPI,Completed',
 'T035,Zubin,Delhi,Anil,SUV,24.0,760,60,Card,Completed',
 'T036,Pallavi,Hyderabad,Ramesh,Mini,9.1,230,23,Wallet,Completed',
 'T037,Naveen,Bangalore,Suresh,Bike,5.9,135,17,UPI,Completed',
 'T038,Sonia,Mumbai,Vijay,SUV,21.7,690,54,Card,Completed',
 'T039,Harish,Chennai,Kumar,Mini,8.5,215,21,Cash,Completed',
 'T040,Kriti,Delhi,Anil,Sedan,14.6,375,33,UPI,Completed',
 'T041,Apoorva,Hyderabad,Ramesh,Sedan,13.2,335,30,Card,Completed',
 'T042,Mohit,Bangalore,Suresh,SUV,19.9,620,49,UPI,Completed',
 'T043,Tanvi,Mumbai,Vikas,Mini,10.4,265,27,Wallet,Completed',
 'T044,Rakesh,Chennai,Kumar,Bike,6.2,140,18,Cash,Completed',
 'T045,Isha,Delhi,Anil,Mini,9.7,245,25,UPI,Completed']

# Key-value Pairs

In [6]:
split_rdd=data_rdd.map(lambda row: row.split(","))
split_rdd.take(3)

[['T001',
  'Amit',
  'Hyderabad',
  'Ramesh',
  'Sedan',
  '12.5',
  '320',
  '28',
  'UPI',
  'Completed'],
 ['T002',
  'Neha',
  'Bangalore',
  'Suresh',
  'Mini',
  '8.2',
  '210',
  '22',
  'Card',
  'Completed'],
 ['T003',
  'Rahul',
  'Delhi',
  'Anil',
  'Bike',
  '5.1',
  '120',
  '15',
  'Cash',
  'Completed']]

In [9]:
city_salary_rdd=split_rdd.map(lambda x: (x[2], int(x[6])))
city_salary_rdd.collect()

[('Hyderabad', 320),
 ('Bangalore', 210),
 ('Delhi', 120),
 ('Mumbai', 560),
 ('Chennai', 200),
 ('Hyderabad', 360),
 ('Delhi', 140),
 ('Bangalore', 300),
 ('Mumbai', 650),
 ('Chennai', 110),
 ('Delhi', 240),
 ('Hyderabad', 610),
 ('Bangalore', 340),
 ('Mumbai', 260),
 ('Delhi', 390),
 ('Chennai', 315),
 ('Hyderabad', 700),
 ('Bangalore', 130),
 ('Mumbai', 250),
 ('Delhi', 135),
 ('Hyderabad', 380),
 ('Chennai', 680),
 ('Bangalore', 270),
 ('Mumbai', 350),
 ('Delhi', 125),
 ('Hyderabad', 225),
 ('Bangalore', 330),
 ('Mumbai', 740),
 ('Chennai', 235),
 ('Delhi', 365),
 ('Hyderabad', 150),
 ('Bangalore', 255),
 ('Mumbai', 395),
 ('Chennai', 345),
 ('Delhi', 760),
 ('Hyderabad', 230),
 ('Bangalore', 135),
 ('Mumbai', 690),
 ('Chennai', 215),
 ('Delhi', 375),
 ('Hyderabad', 335),
 ('Bangalore', 620),
 ('Mumbai', 265),
 ('Chennai', 140),
 ('Delhi', 245)]

In [10]:
total_salary_per_city=city_salary_rdd.reduceByKey(lambda a,b: a+b)
total_salary_per_city.collect()

[('Hyderabad', 3310),
 ('Delhi', 2895),
 ('Mumbai', 4160),
 ('Bangalore', 2590),
 ('Chennai', 2240)]

In [11]:
highest_city=total_salary_per_city.reduce(
    lambda a,b: a if a[1]>b[1] else b
)
highest_city

('Mumbai', 4160)